<TMPL_IF ERROR>
<p>
<b>无法将 <TMPL_VAR SRC> 更名为 <TMPL_VAR DEST>: </b>
<TMPL_VAR ERROR>
</p>
<TMPL_ELSE>
<p>
<b>成功将 <TMPL_VAR SRC> 更名为 <TMPL_VAR DEST>.</b>
</p>
<p>
<TMPL_IF FIXEDLINKS>
下面页面中，链接到 <TMPL_VAR DEST> 的所有链接都自动更新了。
<ul>
<TMPL_LOOP FIXEDLINKS><li><TMPL_VAR PAGE></li></TMPL_LOOP>
</ul>
</TMPL_IF>
<TMPL_IF BROKENLINKS_CHECKED>
<TMPL_IF BROKENLINKS>
下面的页面仍链接到 <TMPL_VAR SRC>:
<ul>
<TMPL_LOOP BROKENLINKS><li><TMPL_VAR PAGE></li></TMPL_LOOP>
</ul>
</TMPL_IF>
</TMPL_IF>
</p>
</TMPL_IF>
